ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 18.5px;
    font-family: "Audiowide";
  
  }
  
  h1 {
    font-family: "Audiowide";
    text-align: center;
    font-size: 40px;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(230, 166, 230);
  }

  li a:hover:not(.hover) {
    background-color: rgb(255, 255, 255);
    color:black;
  }

legend {
    font-weight: bold;
    font-family: "Audiowide";
}
  
td {
  text-align: center;
}


table, th, td {
 border: 0px;
 margin-right: auto;
 margin-left: auto;
 width: 80%;


}
table.center {
 margin-top: 100px;
 margin-left: 10%;
 margin-right: 25%;

}


