h1 {
    text-align: center;
}

h2 {
    font-size: 25px;
    text-align: center;
}
p {
    text-decoration: solid;
    font-size: 20px;
}

table,td, tr {
    text-align: center;
}

img {
    text-align: center;
}